            <div class="navbar navbar-default visible-xs">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <a class="navbar-brand" href="/">
                        <img class="image-center" src="{{ site.url }}/assets/images/profile.png" style="border-radius: 50%;width: 100%; max-width:25px; height:auto;"/> 
                        {{site.title}}
                    </a>
                    
                </div>
                <div class="navbar-collapse collapse navbar-responsive-collapse">
                    <ul class="nav navbar-nav">
                        {% for link in site.navigation %}
                          <li>
                            <a href="{{link.url}}">{{link.text}}</a>
                          </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
